<h2>Sign up</h2>
<%= simple_form_for(:user, as: :user, method: :post, url: user_save_user_path("user")) do |f| %>
  <%= f.input :organization_id, as: :hidden, input_html: { value: '2' } %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :avatar, as: :file, input_html: { accept: "image/*" } %></br>
      <%= f.input :first_name, autofocus: true, autocomplete: "First Name" , class: "required"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :last_name, autofocus: true, autocomplete: "Last Name", class: " form-control required" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :email, autofocus: true, autocomplete: "email", class: "required" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :dob, as: :date, autofocus: true, autocomplete: "DOB", class: "form-control required" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :contact_no, autofocus: true, autocomplete: "Contact No", class: "form-control required" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :password, autocomplete: "new-password", class: "required" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :password_confirmation, autocomplete: "new-password", class: "required" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-md btn-primary btn-block" %>
  </div>
<% end %>
